<!-- <h1>Hello from Template</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}{% endblock %}
    <!-- <h1>Student Management</h1>
    <form action="/create" method="post">
        <lable for="name">Student Name</lable>
        <input type= "text" name="name" placeholder="Home">
        <br>
        <lable for="id">Student ID</lable>
        <input type= "text" name="id" placeholder="ID">
        <br>
        <lable for="Grade">Grade</lable>
        <input type= "text" name="Grade" placeholder="ID">
        <input type ="submit"> -->
        <!-- <button type ="submit">Save</button>
    </form>
    <h1>
        Student List
    </h1>
    <ul> -->
        <!-- <li>Item1</li>
        <li>Item2</li> -->
    <!-- {% for student in data %}
       <li>{{student.name}}</li>
       <li>{{student.id}}</li>
       <li>{{student.grade}}</li>
       <br>
       <br>
    {%endfor %}
    </ul> --> -->
</body>
</html>