{% extends "index.html"%}
{% block content %}
<h1>Student List</h1>
<h3>Total Students: {{ total }}</h3>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Grade</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for student in data %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.id }}</td>
            <td>{{ student.grade }}</td>
            <td>
                <a href="{{ url_for('profile', student_id=student.id) }}">
                    <button>View</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<button>
    <a href="{{url_for('create')}}">Create Student</a>
</button>
{% endblock %}